.large-img {
  max-width: 600px;
  max-height: 450px;
  border-radius: 3px;
  padding-top: 2px;
}
.main-details {
  color: white;
  position: relative;
  left: 31.5%;
  border: #aeb1a4 1.5px solid;
  border-radius: 3px;
  width: 680px;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(175, 156, 132);
  text-shadow: 1px 1px 2px black;
}
.details-top-half {
  background-color: rgba(122, 109, 92, 0.753);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
