.card-body {
  border: 1.5px solid rgb(160, 153, 153);
  border-radius: 3px;
  margin: 2px;
  height: 345px;
  width: 320px;
  background-color: rgb(175, 156, 132);
  text-shadow: 1px 1px 2px black;
}

.card:hover a {
  color: white;
  text-shadow: #ccc 2px 0 10px;
}
.show-details:hover {
  cursor: pointer;
}
.top-half {
  background-color: rgba(122, 109, 92, 0.753);
  height: 206px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-img {
  margin: auto;
  padding-top: 2px;
  max-height: 200px;
  max-width: 315px;
  border-radius: 3px;
}

.card-text {
  color: white;
  height: 120px;
}
