.create-button {
  color: #ffffff;
  position: relative;
  top: -45.1px;
  right: 480px;
  font-size: large;
  text-shadow: 1px 1px 2px black;
}
.create-button:hover {
  filter: brightness(0.9);
}
.buttons {
  color: white;
  width: 50%;
  height: 29px;
  position: relative;
  bottom: 5px;
  left: 25%;
  background-color: rgb(175, 156, 132);
  border-radius: 3px;
  border: #aeb1a4 1.5px solid;
}
.mini-splitter {
  position: relative;
  padding: 9px;
}
