html {
  min-height: 100%;
}
body {
  background: rgb(254, 250, 224);
  background: linear-gradient(
    135deg,
    rgba(254, 250, 224, 1) 0%,
    rgba(212, 163, 115, 1) 100%,
    rgba(250, 237, 205, 1) 100%
  );
}
.lp {
  background-image: url(../../media/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 5.7%;
  left: 27%;
  margin-top: -50px;
  margin-left: -50px;
  width: 900px;
  height: 900px;
}
#button:hover {
  cursor: pointer;
  background-color: rgb(255, 201, 136);
}
#button {
  font-size: larger;
  color: rgb(43, 41, 41);
  position: absolute;
  top: 49%;
  left: 42.3%;
  background-color: rgb(238, 177, 102);
  border-radius: 5px;
  border: 1px solid rgb(126, 121, 121);
}
