/* .main {
  display: table;
  position: absolute;
  top: 15%;
  left: 37%;
  height: 60%;
  width: 25%;

  border: 1px solid rgb(160, 153, 153);
  border-radius: 9px;
}
.alert {
  position: absolute;
  left: 5%;
  top: 79%;
  font-style: italic;
  color: rgb(71, 70, 70);
}
.submit {
  position: absolute;
  left: 45%;
  top: 90%;
  border-radius: 5px;
  background-color: rgb(240, 190, 128);
}
.form {
  display: table;
  position: absolute;
  top: 10%;
  left: 5%;
  height: 70%;
  width: 90%;

  border-radius: 9px;
}
.element {
  position: absolute;
  left: 3%;
}
.field {
  position: absolute;
  left: 40%;
}
.label {
  position: absolute;
  left: 67%;
}
.temps {
  position: absolute;
  left: 40%;
  width: 101px;
  height: 21px;
  top: 40.5%;
}
.add {
  position: absolute;
  left: 67%;
  top: 40.5%;
}
.selected {
  position: absolute;
  top: 46%;
  left: 3%;
}
.grid-container {
  display: grid-inline;
}
.temperaments {
  border: 1px solid rgb(146, 137, 137);
  background-color: rgb(245, 204, 155);
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 4px;
  position: relative;
  top: 75px;
}
.danger {
  color: red;
  font-size: 10px;
  font-style: italic;
}
.dangerContainer {
  position: absolute;
  top: 70%;
  left: 12%;
}
.success {
  position: absolute;
  top: 5%;
  left: 37%;
  height: 60%;
  width: 25%;
  border: 1px solid rgb(160, 153, 153);
  border-radius: 9px;
}
.button {
  position: grid;
  left: 45%;
  top: 10%;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(240, 190, 128);
  width: 110px;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(255, 201, 136);
}
.buttonContainer {
  position: absolute;
  top: 80%;
  left: 22.5%;
}
.successGif {
} */
